#slider {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#slider .slide {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.slide-title {
    margin-top: 40px;
}
